@font-face {
  font-family: 'neuropolx';
  src: url('#{request.contextPath}/resources/fonts/neuropolx.ttf') format('truetype');
}
@font-face {
  font-family: 'planets';
  src: url('#{request.contextPath}/resources/fonts/planetes.TTF') format('truetype');
}
* {
  color: lightblue;
  font-family: neuropolx, sans-serif, serif;
  text-align: center;
}
body {
  background: black url('#{request.contextPath}/resources/gfx/brightest.jpg');
  margin: auto;
  padding: 50px 200px;
}
#container {
  margin: auto;
  padding: 10px 20px;
}
#content {

}
span.invalid {
  color: red;
}
h1 {
  color: orange;
}
form {
  background-color: rgba(40, 40, 40, 0.8);
  border-radius: 20px;
  padding: 20px;
}
fieldset {
  border-radius: 5px;
}
input {
  background-color: #232323;
}
table {
  margin:auto;
}
.map td {
  min-width: 20px;
  width: 20px;
  min-height: 20px;
  height: 20px;
  background-color: rgba(100, 100, 100, 0.8);
}
.map .planets {
  font-family: planets, neuropolx, sans-serif, serif;
}
th {
  background-color: rgba(165, 80, 80, 0.8);
  color: #570000;
}

